.header {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
  
  & svg {
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--color-primary);
  }

  .texts {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    & h2 {
      font-weight: 600;
    }

    & p {
      color: var(--text-secondary);
    }
  }
}
